* {
  box-sizing: border-box; }

body {
  background-color: beige;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: #606c71; }

[class*='grid-'] {
  float: left;
  width: 25%;
}
.grid{
    background-color: beige;
    position: absolute;
    top:15%;
    margin-top: 10px;
    width: 100%;
    }
.grid li{
   padding: 0px;
   display: block;

}
h4{
    text-align: center;
    #color: #CC0052;
}

.icon-circ:before{
     #color: aqua;
    font-family: FontAwesome;
    content: "\f10c";
    font-size: 10px;
}
.icon-exp:before{
     #color: aqua;
    font-family: FontAwesome;
    content: "\f0b1";
    font-size: 20px;
}
.icon-edu:before{
     #color: aqua;
    font-family: FontAwesome;
    content: "\f091";
    font-size: 20px;
}
.icon-skills:before{
     #color: aqua;
    font-family: FontAwesome;
    content: "\f006";
    font-size: 20px;
}
.icon-comm:before{
     #color: aqua;
    font-family: FontAwesome;
    content: "\f0ac";
    font-size: 20px;
}
.grid-25 a:hover {
    text-decoration: none;
    color: #6699FF;
  }

a {
  color: #6699FF;
  text-decoration: none; }

  a:hover {
    text-decoration: none;
    color: azure;
  }
.projects a:hover {
    text-decoration: none;
    color: #CC0052 ;
  }

.name{
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
}
.title{
    padding-top: 12px;
    text-align: left;
    margin-left: 40px;
    float: left;
    text-decoration: underline;
}
.top-nav{
    position: fixed;
    width:100%;
    top: 0;
    }
.top-menu-div{
float: right;
}
.top-menu-div .menu-item:hover{
    color: #CC0052;
    }
p.simple-text{
    text-align: center;
    font-size: 20px;
    #color: cornflowerblue;
}
.content{
    background-color: beige;
    position: absolute;
    top:50%;
    margin-top: -110px;
    width: 100%;
    }

.greeting{
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    
    }
.social{
    background-color: #CC0052;
    position: fixed;
    width:100%;
    bottom: 0;
}
.connections{
    list-style-type: none;
    text-align: center;
    }
.projects{
    list-style-type: none;
    text-align: center;
    }
li{
    display: inline;
    padding: 20px;
    margin: 0 auto;
}
.pic{
    margin: 0 auto 20px;
    text-align: center;
}
.profile-pic{
    border-radius: 100%;
    width: 120px;
    height:120px;
    text-align: center;
}

.icon-twitter:before{
    #color: aqua;
    font-family: FontAwesome;
    content: "\f099";
    font-size: 40px;
   }

.icon-github:before{
    #color: aqua;
    font-family: FontAwesome;
    content: "\f09b";
    font-size: 40px;
    }
.icon-linkedin:before{
    #color: aqua;
    font-family: FontAwesome;
    content: "\f08c";
    font-size: 40px;
    }
.icon-nad:before{
font-family: FontAwesome;
content: "\f185"; 
font-size: 40px;
}
.icon-ask:before{
font-family: FontAwesome;
content: "\f075"; 
font-size: 40px;
}
.icon-blog:before{
font-family: FontAwesome;
content: "\f0ca"; 
font-size: 40px;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }



